altgraph==0.17.4
auto-py-to-exe==2.44.1
bottle==0.13.1
bottle-websocket==0.2.9
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
easygui==0.98.3
Eel==0.17.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
Nuitka==2.4.8
numpy==2.1.1
ordered-set==4.1.0
packaging==24.1
pandas==2.2.3
pefile==2024.8.26
pyasn1==0.6.1
pycparser==2.22
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PySimpleGUI==5.0.6
python-calamine==0.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
requests==2.32.3
rsa==4.9
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==7.0.3
zstandard==0.23.0
